$mainTextColor: #12131d;
$secondaryMainTextColor: #fdfdfd;

$mainColor:  #3081C3;
$secondaryColor: #BFF5FD;
$thirdColor: #c7caf7;

$btnMainColor:  #3081C3;
$btnHoverColor: #BFF5FD;
$btnActiveColor: #12131d;

$hyperLinkTextColor: #fdfdfd;
$visitedHyperlinkTextColor: #12131d;
